<div class='card'>
    <div class='card-body'>
        <h5 class='card-title'>{{ experience.name }}
            <small class='text-muted'>{{ experience.location }}</small>
            <small class='text-muted float-right'>{{ experience.start_date }} - {{ experience.end_date }}</small>
        </h5>
        <p class='card-text'>{{ experience.description }}</p>
    </div>
</div>
