{% extends 'base.jinja' %}
{% block page_title %}Blake's Portfolio{% endblock %}
{% block body %}
<div class='container'>
    <div class='row mt-3'>
        {% include 'about.jinja' %}
    </div>
    <div class='row mt-3'>
        {% for project in projects %}
        <div class='col-4'>
            {% include 'project.jinja' %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
