{% extends 'base.jinja' %}
{% block page_title %}Blake's Portfolio{% endblock %}
{% block body %}
<div class='container mt-3'>
    <div class='row'>
        {% for project in projects %}
        <div class='col-4'>
            {% include 'project.jinja' %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
